body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(36,60,79,1) 1%, rgba(36,58,77,1) 7%, rgba(29,94,116,1) 43%, rgba(18,151,179,1) 100%);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#head {
    text-align: center;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ticket-form {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
}

.ticket-list {
    margin-top: 20px;
}

.ticket {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.tickets {
    color: white;
}

#name, #gender, #contact, #email, #state, #title, #description {
    margin: 5px;
    padding: 10px;
}

#submit {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

#head2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: underline;
}

#last {
    padding: 30px;
    margin: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}